<h1>Hey Kellie!</h1>
<img src="<%= asset_path( 'yogapose.jpg' ) %>" alt="A woman does a tree pose in front of a sunrise">
<p>I'm making that yoga app. Finally. (Surprise!)</p>
<p>Here's where it'll be when it's done.</p>